{% extends 'base.html.twig' %}

{% block title %}Department index{% endblock %}

{% block body %}
    <h1>Our Departments</h1>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for department in departments %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img  width="100%" height="315" src="/{{ department.deptImg }}">
                        <div class="card-body">
                            <h5 align="center">{{ department.deptName }}</h5>
                            <p class="card-text">{{ department.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('app_department_show', { 'dept_no': department.deptNo }) }}">show</a></button>

                                </div>
                                <small class="text-muted">{{ department.deptNo }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <a href="{{ path('app_home') }}">Back to home page</a>
{% endblock %}
