{% extends 'base.html.twig' %}

{% block title %}Department{% endblock %}

{% block body %}
    {{ dump(department.offers) }}
    <h1>{{ department.deptName }}</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ department.deptNo }}</td>
            </tr>
            <tr>
                <th>Dept_name</th>
                <td>{{ department.deptName }}</td>
            </tr>
            <tr>
                <th>Manager</th>
                <td>{{ manager[0]['first_name'] }} {{ manager[0]['last_name'] }} - <a href="mailto:{{ manager[0]['email'] }}">{{ manager[0]['email'] }}</a></td>
            </tr>
            <tr>
                <th>Nb employees</th>
                <td>{{ nbEmployees }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ department.description }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ department.address }}</td>
            </tr>
            <tr>
                <th>Roi_url</th>
                <td>{{ department.roiUrl }}</td>
            </tr>
        </tbody>
    </table>

    {%  for offer in department.offers %}

    <p>{{ offer }} </p>
    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Apply</button></div>
    <a href="{{ path('app_department_index') }}">back to list</a>
    {% endfor %}
{% endblock %}
