{% extends 'base.html.twig' %}

{% block title %}Department{% endblock %}

{% block body %}


    <h1>{{ department.deptName }}</h1>

    <div class="row">
            <div class="col-md-6">
                <img src="/{{ department.deptImg }}" alt="Dept-img" width="255%" height="255" class="manager-img">
            </div>

            <div class="col-md-6">
                <h3>Manager</h3>
                <div>
                    <img src="/{{ manager[0]['photo'] }} " width="255" height="255" class="manager-img">
                </div>
                <div>

                    <p class="manager">{{ manager[0]['first_name'] }} {{ manager[0]['last_name'] }} - <a href="mailto:{{ manager[0]['email'] }}">{{ manager[0]['email'] }}</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Nb employees</h3>
                <p>{{ nbEmployees }}</p>
            </div>
           <div class="col-md-6">
                <h3>Description</h3>
                <p>{{ department.description }}</p>
            </div>
             <div class="col-md-6">
                <h3>Address</h3>
                <p>{{ department.address }}</p>
            </div>
            <div class="col-md-6">
                <h3>Downlaod our ROI</h3>
                <a href="{{ department.roiUrl }}" download>Roi in pdf</a>
            </div>
    </div>
    <div>

        <h3 class="text-center">Available positions</h3>
        <td>
            {% for post in posts %}
                <div class="mt-5 text-center">
                    <h4>{{ post.title }}</h4>
                    <p>{{ post.description }}</p>
                    <button class="btn btn-primary profile-button" type="button" data-id="">Apply</button>
                </div>
            {% endfor %}
    </div>



    <a href="{{ path('app_department_index') }}">back to list</a>

{% endblock %}
