{% extends 'base.html.twig' %}

{% block title %}Employee{% endblock %}

{% block body %}
    <h1>Employee</h1>
{{ dump(employee) }}
    <h2>Profile</h2>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee.id }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ employee.firstName }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ employee.lastName }}</td>
            </tr>
            <tr>
                <th>Birth_date</th>
                <td>{{ employee.birthDate ? employee.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ employee.gender }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ employee.photo |default('not found') }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ employee.email }}</td>
            </tr>
            <tr>
                <th>Hire_date</th>
                <td>{{ employee.hireDate ? employee.hireDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ employee.roles ? employee.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ employee.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Career History</h2>
    <table class="table">
        <tbody>
            <tr>
                <th>Demands</th>
                <td>
                    {% for demand in employee.demands %}
                    <p>{{ demand.type }} : {{ demand.about }} - {{ demand.reviewed == false ? 'In review' : demand.status == 1 ? 'Accepted' : 'Rejected' }}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Affectations</th>
                <td>
                    {% for affectation in employee.affectations %}
                    <p>{{ affectation.deptNo }} - From: {{ affectation.fromDate|date('Y-m-d')  }} To: {{ affectation.toDate|date('Y-m-d')  }}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Salaries</th>
                <td>
                    {% for salary in employee.salaries %}
                        <p>{{ salary.salary }} - From: {{ salary.fromDate|date('Y-m-d')  }} To: {{ salary.toDate|date('Y-m-d')  }}</p>
                    {% endfor %}
                </td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('app_employee_index') }}">back to list</a>

    <a href="{{ path('app_employee_edit', {'id': employee.id}) }}">edit</a>

    {{ include('employee/_delete_form.html.twig') }}
{% endblock %}
