{% extends 'base.html.twig' %}

{% block title %}Employee{% endblock %}

{% block body %}
    <h1>Employee</h1>


    {#if app.request.get('_route').contains('app.user.id') #}
    <h2>Profile</h2>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{ employee.firstName }}</span><span class="text-black-50">{{ employee.email }}</span><span> </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">First name</label><input type="text" class="form-control" placeholder="first name" value="{{ employee.firstName }}"></div>
                        <div class="col-md-6"><label class="labels">Last name</label><input type="text" class="form-control" value="{{ employee.lastName }}" placeholder="last name"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Birth date</label><input type="text" class="form-control" placeholder="Birth date" value="{{ employee.birthDate|date('Y-m-d') }}"></div>
                        <div class="col-md-12"><label class="labels">Hire date</label><input type="text" class="form-control" placeholder="Hire date" value="{{ employee.hireDate ? employee.hireDate|date('Y-m-d') : '' }}"></div>
                        <div class="col-md-12"><label class="labels">Gender</label><input type="text" class="form-control" placeholder="gender" value="{{ employee.gender }}"></div>
                        <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="{{ employee.email }}" value="{{ employee.email }}"></div>
                        <div class="col-md-12"><label class="labels">Current Department</label><input type="text" class="form-control" placeholder="{{ employee.current }}" value=""></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <h4 class="text-right">Career</h4>
                    <div class="col-md-12">
                            <tr>
                                <th>Demands</th>
                                <td>
                                    {% for demand in employee.demands %}
                                        <p>{{ demand.type }} : {{ demand.about }} - {{ demand.reviewed == false ? '<div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Dismiss</button></div>' : demand.status == 1 ? 'Accepted' : 'Rejected' }}</p>
                                    {% endfor %}
                                </td>
                            </tr>
                    </div> <br>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">New demand</button></div>
                    <div class="col-md-12">
                        {% if employee.affectations|length != 0 %}
                            <tr>
                                <th>Affectations</th>
                                <td>
                                    {% for affectation in employee.affectations %}
                                        <p>{{ affectation.deptNo }} - From: {{ affectation.fromDate|date('Y-m-d')  }} To: {{ affectation.toDate|date('Y-m-d')  }}</p>
                                    {% endfor %}
                                </td>
                            </tr>
                        {%  endif %}
                    </div>
                    <div class="col-md-12">
                        {% if employee.salaries|length != 0 %}
                        <tr>
                            <th>Salaries</th>
                            <td>
                                {% for salary in employee.salaries %}
                                    <p>{{ salary.salary }} - From: {{ salary.fromDate|date('Y-m-d')  }} To: {{ salary.toDate|date('Y-m-d')  }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee.id }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ employee.firstName }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ employee.lastName }}</td>
            </tr>
            <tr>
                <th>Birth_date</th>
                <td>{{ employee.birthDate ? employee.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ employee.gender }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ employee.photo |default('not found') }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ employee.email }}</td>
            </tr>
            <tr>
                <th>Hire_date</th>
                <td>{{ employee.hireDate ? employee.hireDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ employee.roles ? employee.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ employee.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Career History</h2>
    <table class="table">
        <tbody>
            <tr>
                <th>Demands</th>
                <td>
                    {% for demand in employee.demands %}
                    <p>{{ demand.type }} : {{ demand.about }} - {{ demand.reviewed == false ? 'In review' : demand.status == 1 ? 'Accepted' : 'Rejected' }}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Affectations</th>
                <td>
                    {% for affectation in employee.affectations %}
                    <p>{{ affectation.deptNo }} - From: {{ affectation.fromDate|date('Y-m-d')  }} To: {{ affectation.toDate|date('Y-m-d')  }}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Salaries</th>
                <td>
                    {% for salary in employee.salaries %}
                        <p>{{ salary.salary }} - From: {{ salary.fromDate|date('Y-m-d')  }} To: {{ salary.toDate|date('Y-m-d')  }}</p>
                    {% endfor %}
                </td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('app_employee_index') }}">back to list</a>

    <a href="{{ path('app_employee_edit', {'id': employee.id}) }}">edit</a>

    {{ include('employee/_delete_form.html.twig') }}

{% endblock %}
