<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header>
        <div class="px-3 py-2 text-bg-dark">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>

                    </a>

                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="{{ path('app_home') }}" class="btn btn-outline-light my-btn">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_department_index') }}"  class="btn btn-outline-danger my-btn">
                                Departments
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-outline-info  my-btn">
                                Women at work
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-outline-warning my-btn">
                                Partners
                            </a>
                        </li>
                        {% if is_granted('ROLE_MANAGER') %}
                            <li>
                                <a href="{{ path('app_intern_manageIntern')}}" class="btn btn-success my-btn">
                                    Interns
                                </a>
                            </li>
                            <li>
                                <a  href="{{ path('app_cars_emp_switchCars') }}" class="btn btn-light my-btn">
                                    SwitchCars
                                </a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            <li>
                                <a href="{{ path('app_mission_list', { id : app.user.id }) }}" class="btn btn-warning my-btn">
                                    My missions
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_intern_superviseIntern')}}" class="btn btn-secondary my-btn">
                                    My interns
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_employee_show', { id : app.user.id }) }}" class="btn btn-info my-btn">
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_admin') }}" class="btn btn-danger my-btn">
                                    Admin
                                 </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% if app.request.get('_route') != 'app_login' and app.request.get('_route') != 'app_register' and app.request.get('_route') != 'app_loginadmin' %}
        <div class="px-3 py-2 border-bottom mb-3">
            <div class="container d-flex flex-wrap  space-between">
                <div class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
                    {%if app.user %}
                        <div class="d-inline p-2 bg-primary text-white">{{ app.user.firstName }} {{ app.user.lastName }}</div>
                        <div class="d-inline p-2 bg-dark text-white">{{ app.user.current }}</div>
                        {%if app.user.current %}
                            <div class="d-inline p-2 text-bg-info text-white">{{ app.user.currentTitle }}</div>
                        {% endif %}
                    {% endif %}
                </div>
                {% if app.user %}
                    <div class="mb-3">
                        <a type="button" class="btn btn-outline-danger" id ="logout" href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% else %}
                <div class="text-end">
                    <a type="button" class="btn btn-light text-dark me-2" href="{{ path('app_login') }}">Login</a>
                    <a type="button" class="btn btn-primary" href="{{ path('app_register') }}">Sign-up</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </header>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <footer class="py-5 text-bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-2 mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column text-white">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Departments</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Women at work</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Partners</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Admin</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Partners</h5>
                    <ul class="nav flex-column text-white">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">About</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Social</h5>
                    <ul class="nav flex-column text-white">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Facebook</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Instagram</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">LinkedIn</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Twitter</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Github</a></li>
                    </ul>
                </div>

                <div class="col-md-5 offset-md-1 mb-3  text-white">
                    <form>
                        <h5>Subscribe to our newsletter</h5>
                        <p>Monthly digest of what's new and exciting from us.</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">Email address</label>
                            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                            <button class="btn btn-primary" type="button">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>Made with 🤍 by Serge, Ismail, Nassim and Cédric @ EPFC 2023 .</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
                </ul>
            </div>
        </div>
    </footer>
    </body>
</html>
